<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "css/CustomStyle.css" | relURL}}">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="{{ "css/CssHelper.css" | relURL}}">
    <base href="{{ .Site.BaseURL }}">
    <title>
        {{ block "title" . }}
            {{ .Site.Title }}
        {{ end }}
    </title>
</head>
<body>
    <section class="section">
        <div class="container">
            {{ block "content" . }}

            {{ end }}    
        </div>
    </section>
</body>
</html>